/* App.css or your CSS file */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:grid;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reduced gap for smaller screens */
}

.gallery-item {
  flex: 1 0 calc(50% - 10px); /* Two items per row on smaller screens */
  max-width: calc(50% - 10px);
  border-radius: 8px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  max-height: 150px; /* Smaller maximum height for mobile */
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .gallery-item {
    flex: 1 0 calc(100% - 10px); /* One item per row on very small screens */
    max-width: calc(100% - 10px);
  }
}
.toggle-btn{
  place-self: center;
}

.gallery-container .original {

  width: 80svw;
  height: 80svh;
  border-radius: 8px;

}